

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-card">
      <h1 class="app-title">MïeM</h1>
      <h2 class="login-subtitle">Bienvenido de vuelta</h2>
      <form [formGroup]="formularioLogin">
        <div class="input-group">
          <ion-label>Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </div>
        <div class="input-group">
          <ion-label>Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </div>
        <ion-button expand="block" (click)="ingresar()">INGRESAR</ion-button>
      </form>
      <div class="register-prompt">
        <span>¿No tienes cuenta?</span>
        <a [routerLink]="['/registro']">Registrate</a>
      </div>
    </div>
  </div>
</ion-content>

