.button-container {
  display: flex;
  justify-content: flex-end;
}

.ingresar-btn {
  width: 100%;
}

.registrar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.registrar-text {
  font-size: 16px;
}

.registrar-btn {
  --padding-start: 4px;
  --padding-end: 4px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}
