<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title style="text-align: center">MïeM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <div class="button-container">
        <ion-button class="ingresar-btn" (click)="ingresar()">
          Ingresar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="registrar-container">
    <span class="registrar-text">No posees cuenta? </span>
    <ion-button class="registrar-btn" fill="clear" [routerLink]="['/registro']">
      Registrate
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark"></ion-toolbar>
</ion-footer>
