ion-app,
ion-content {
  --ion-background-color: #ffffff ; 
  --ion-text-color: #000000 ; 
}

ion-header,
ion-footer {
  --ion-background-color: #000000; 
  --ion-text-color: #ffffff; 
}


.button-container {
  display: flex;
  justify-content: flex-end;
}

.ingresar-btn {
  width: 100%;
  color: #ffffff;
}

.registrar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.registrar-text {
  font-size: 16px;
}

.registrar-btn {
  --padding-start: 4px;
  --padding-end: 4px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}

