.toolbar-logo {
    width: 120px; 
    height: auto;
    margin-left: 212px; 
    display: block; 
}

ion-content {
    --background: #F5EDED;
    --color: #333333; 
}  

ion-toolbar {
    --background: #6482AD;
    --color: #333333;
}