<ion-content class="ion-padding">
    <div class="about-container">
      <div class="about-card">
        <img src="../../assets/img/miemlogo.png" alt="MIEM Logo" class="logo">
        <p>
Únete a nosotros y da el siguiente paso en tu camino emprendedor.
        </p>
        <ion-button expand="block" class="start-button" routerLink="/registro">
          Comienza tu experiencia
        </ion-button>
        <div class="register-prompt">
          <span>¿Ya tienes cuenta?</span>
          <a [routerLink]="['/login']">Regístrate aquí</a>
        </div>
      </div>    
    </div>
  </ion-content>