<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <img src="../../assets/img/miemlogo.png" alt="" class="toolbar-logoM">
    </ion-toolbar>    
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button>
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label>{{ nombreUsuario }}</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon name="briefcase" slot="start"></ion-icon>
        <ion-label>¿Tienes un emprendimiento?</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img src="../../assets/img/miemlogo.png" alt="" class="toolbar-logo">
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>Bienvenido a MïeM</h1>
    <p>Explora nuestras opciones en el menú.</p>
  </ion-content>
</div>
