:root {
  --color-primary: #B3E5FC;
  --color-secondary: #FFABAB;
  --color-tertiary: #A8D5BA;
  --color-accent: #F9E4A8;
  --color-neutral: #D0D0D0;
  --color-text: #333333;
}

ion-menu {
  --background: #6482AD;
  --width: 280px;
}

ion-toolbar {
  --background: #6482AD;
  --color: #333333;
}

ion-content {
  --background: #F5EDED;
  --color: #333333; 
}

ion-list {
  background: transparent;
  
}

ion-item {
  --background: transparent;
  --color: #333333;
  --border-color: rgba(255, 255, 255, 0.1);
}

ion-icon {
  --color: #7FA1C3;
  font-size: 24px; 
}

ion-item ion-icon {
  font-size: 36px; 
  color: #7FA1C3;
}

ion-menu-button{
  color: #ffffff;

}

h1 {
  font-size: 2rem;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  color: #333333;
  text-align: center;
}

.toolbar-logo {
  width: 120px; 
  height: auto;
  margin-left: 160px; 
  display: block; 
}

.toolbar-logoM {
  width: 100px; 
  height: auto;
  margin-left: 10px; 
  display: block; 
}