<ion-content class="ion-padding">
  <div class="register-container">
    <div class="register-card">
      <h1 class="app-title">MïeM</h1>
      <h2 class="register-subtitle">Crea tu cuenta</h2>
      <form [formGroup]="formularioRegistro">
        <div class="input-group">
          <ion-label>Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </div>
        <div class="input-group">
          <ion-label>Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </div>
        <div class="input-group">
          <ion-label>Confirmar contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </div>
        <ion-button expand="block" (click)="guardar()">REGISTRARSE</ion-button>
      </form>
      <div class="login-prompt">
        <span>¿Ya tienes cuenta?</span>
        <a [routerLink]="['/login']">Inicia sesión</a>
      </div>
    </div>
  </div>
</ion-content>