ion-toolbar {
  position: relative;
}

ion-app,
ion-content {
  --ion-background-color: #ffffff ; 
  --ion-text-color: #000000 ; 
}

ion-header,
ion-footer {
  --ion-background-color: #000000; 
  --ion-text-color: #ffffff; 
}


.custom-title {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 16px;
  text-align: center;
  pointer-events: none;
}

ion-back-button {
  position: relative;
  z-index: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
.Registrarse-btn {
  width: 100%;
  color: #ffffff
}
